body {
  color: #b9bbbe;
  text-rendering: optimizeLegibility;
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #202225;
  background-image: url("images/isotipo_naranjo.png");
  background-position: right bottom; /*Positioning*/
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
}
 
h2 {
  color: #7289da;
}

h1 {
  color: white;
}

.container {
  padding-top: 12px;
  padding-bottom: 12px;
}